In [6]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

In [7]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [28]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')
abalone_features

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,0.435,0.335,0.110,0.3340,0.1355,0.0775,0.0965
1,0.585,0.450,0.125,0.8740,0.3545,0.2075,0.2250
2,0.655,0.510,0.160,1.0920,0.3960,0.2825,0.3700
3,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600
4,0.545,0.420,0.130,0.8790,0.3740,0.1695,0.2300
...,...,...,...,...,...,...,...
3315,0.605,0.475,0.180,0.9365,0.3940,0.2190,0.2950
3316,0.700,0.525,0.190,1.6015,0.7070,0.3650,0.4300
3317,0.530,0.420,0.130,0.8365,0.3745,0.1670,0.2490
3318,0.395,0.315,0.105,0.3515,0.1185,0.0910,0.1195
3319,0.450,0.355,0.120,0.4120,0.1145,0.0665,0.1600

In [32]:
abalone_labels

0        7
1        6
2       14
3       16
4       13
        ..
3315    15
3316    10
3317    11
3318    16
3319    19
Name: Age, Length: 3320, dtype: int64

In [23]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                      optimizer = tf.keras.optimizers.Adam())

In [22]:
abalone_model.fit(abalone_features.values, abalone_labels.values, epochs=10)

Epoch 1/10
104/104 [==============================] - 0s 784us/step - loss: 4.8838
Epoch 2/10
104/104 [==============================] - 0s 684us/step - loss: 4.8757
Epoch 3/10
104/104 [==============================] - 0s 702us/step - loss: 4.8793
Epoch 4/10
104/104 [==============================] - 0s 673us/step - loss: 4.8754
Epoch 5/10
104/104 [==============================] - 0s 692us/step - loss: 4.8598
Epoch 6/10
104/104 [==============================] - 0s 712us/step - loss: 4.8691
Epoch 7/10
104/104 [==============================] - 0s 692us/step - loss: 4.8727
Epoch 8/10
104/104 [==============================] - 0s 674us/step - loss: 4.8611
Epoch 9/10
104/104 [==============================] - 0s 692us/step - loss: 4.8627
Epoch 10/10
104/104 [==============================] - 0s 739us/step - loss: 4.8675